{% extends 'base.html.twig' %}
{% block title %}about | unite cms - open source decoupled content management system{% endblock %}

{% block body %}
    <section class="text-intro">
        <article class="main">
            <h1>About <strong>unite</strong></h1>
            <p>We are a small company in Vienna, in the center of europe that try to follow the pattern of sustainable software development.</p>
        </article>
    </section>
    <section class="text-block">
        <article class="main">
            <h2>Lorem Ipsum</h2>
            <p>Unternehmen bekommen mit united CMS eine zentrale Anwendung, für die Verwaltung aller online Projekte. Durch die gewählte Open Source Lizenz, kann united CMS selber betrieben werden (On Premise Installation), das Büro unite bietet aber auch eine Cloud-Variante an, die in einem österreichischen Datenzentrum gehostet wird.

                Entwickler_innen können united CMS für jedes beliebige Projekt unter Verwendung jeder beliebigen Technologie verwenden, da alle Daten über eine GraphQL API Schnittstelle bezogen werden. Softwareprojekte können so innerhalb von Tagen statt Monaten entwickelt und mit extrem geringem Wartungsaufwand betrieben werden.

                united CMS stellt ein intuitives und einfaches Userinterface für Redakteur_innen zur Verfügung, das laufend mit Hilfe von Methoden aus dem Bereich User Research weiterentwickelt wird. Durch die datenzentrierte Architektur von united CMS können Redakteur_innen mit einem einzigen System alle Anwendungen gemeinsam verwalten.

                Eine erste Version von united CMS wird im Frühjahr 2018 veröffentlicht.</p>
        </article>
    </section>
    <section class="text-block">
        <article class="main">
            <h2>Lorem Ipsum</h2>
            <p>We are a small company in Vienna, in the center of europe that try to follow the pattern of sustainable software development.</p>
        </article>
    </section>
{% endblock %}
