{% extends 'base.html.twig' %}
{% block title %}About{% endblock %}

{% block body %}
    <section class="text-intro" style="min-height:100vh;">
        <article class="main">
            <h1>About <strong>unite</strong></h1>
            <p>We (Stefan and Franz) are a small company in Vienna, in the center of europe that try to follow the pattern of
                sustainable software development. For the last 10 years we worked for several companies and agencies,
                building websites, social media platforms, apps and custom business software. In this time, we start
                to critical rethink the way organizational data gets managed and what the issues with current systems are.
                </p>
        </article>
    </section>
    <!--section class="text-block">
        <article class="main">
            <h2>Why we are building yet another CMS</h2>
            <p>Lorem Ipsum</p>
        </article>
    </section>
    <section class="text-block">
        <article class="main">
            <h2>We do custom projects too</h2>
            <p>Lorem Ipsum</p>
        </article>
    </section--!>
{% endblock %}
