{% extends 'base.html.twig' %}
{% block title %}unite cms | About{% endblock %}

{% block body %}
    <section class="text-intro">
        <article class="main">
            <h1>About <strong>unite</strong></h1>
            <p>We (Stefan and Franz) are unite, a small company from Vienna that tries to follow the pattern of
                sustainable software development. For the last 10 years we worked for several companies and agencies,
                building websites, apps and custom business software until we realized that there is something wrong
                with the way organizational data gets managed.</p>

            <p><br /></p>
            <h2>Why we are building yet another CMS</h2>
            <p>Current content management systems are build to manage content for a single project. Most organizations
                use a CRM for managing customer relations, a CMS for managing the content of their websites and 20-30
                other applications for all kind of tasks (accounting, analytics, etc.). This architecture leads to
                high maintenance expense, complex integration problems and data redundancy across all of this applications.</p>
            <p>In our opinion, a better content management architecture is needed in order to stay on top of all your data.
                We also think, that you should hold your content together instead of giving it away to 20-30 services.</p>
            <p>Because of this, we founded unite in early 2018 to make a different content management architecture possible.
                At the moment we are working on the launch of the first beta version of unite cms. Not all features are
                implemented yet, but even now we think that our data-centric approach can solve many common CMS problems and
                will help you build your next project faster and more sustainable. Furthermore, our main focus is to
                continuously improve unite cms' features and content editors user experience.</p>

            <p><br /></p>
            <h2>We do custom projects too</h2>
            <p>Based on unite cms, we are doing custom projects for clients too. This way, we can challenge unite cms
                with real life projects on a continuous basis.</p>
            <p>We have more than 10 years of experience in technical consulting, software development, user research and
                technical project management.</p>
            <p>So if you want to work with us on your next project, please write us at <a href="mailto:office@unite.co.at">office@unite.co.at</a>.</p>
        </article>
    </section>
{% endblock %}
