
$colors: (
        white: #FFFFFF,
        red: #FF5A8A,
        green: #0BD49E,
        yellow: #FFE875,
        purple: #8266FB,
        darkblue: #02212B
);

$color-backdrop: rgba(2, 33, 43, 0.97)