


.floating-unit {
  position: fixed;
  top: 200px;
  left: 46%;
  width: 21px;
  height: 21px;
  border-radius: 100%;
  opacity: 0;
  background: none;
  transition: all 0.5s ease-out;

  &.red { border: 7px solid #FF5A8A; box-shadow: 0 0 15px 0 #FF5A8A; }
  &.green { border: 7px solid #0BD49E; box-shadow: 0 0 15px 0 #0BD49E; }
  &.yellow { border: 7px solid #FFE875; box-shadow: 0 0 15px 0 #FFE875; }
  &.purple { border: 7px solid #8266FB; box-shadow: 0 0 15px 0 #8266FB; }
}