
section.front-intro {
  background: url('../images/bg.svg') no-repeat center center;
  background-size: cover;
  padding-top: 50px;
  min-height: calc(100vh - 50px);
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  article.main {
    flex: 0 1 auto;
    width: 900px;
    max-width: 90%;

    h1 {
      margin: 0;
      text-align: center;
      font-weight: normal;

      strong {
        font-weight: bold;
      }

      background: url('../images/logo.svg') no-repeat center top;
      background-size: 64px 64px;
      padding-top: 80px;
    }

    p.content {
      margin: 20px auto 0;
      max-width: 600px;
    }

    p.actions {
      margin-top: 20px;
      opacity: 1;

      .button {
        margin: 5px;
      }
    }

    ul.devices, ol.devices {
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
      margin: 20px auto;
      padding: 0;
      max-width: 720px;
      overflow: hidden;

      li {
        display: block;
        margin: 10px;
        padding: 0;
        text-align: center;
        font-size: 10px;
        font-weight: bold;
        min-height: 45px;

        svg {
          display: block;
          margin: 0 auto 10px;
        }
      }
    }
  }
}

@media (min-width: 375px) {
  section.front-intro {

    article.main {
      max-width: 80%;

      h1 {
        padding-top: 120px;
        background-size: 90px 90px;
      }

      p.actions,
      ul.devices, ol.devices {
        margin-top: 30px;
      }
    }
  }
}

@media (min-width: $width-small) {
  section.front-intro {

    article.main {
      h1 {
        background-size: 128px 128px;
        padding-top: 175px;
      }

      p.actions,
      ul.devices, ol.devices {
        margin-top: 50px;
      }
    }
  }
}