
.section-actions {
  text-align: center;
  padding: 50px;
  background: map-get($colors, green);

  h1, h2, h3, h4, h5, h6, p {
    opacity: 1;

    &.actions {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: $width-large) {
  .section-actions {
    padding: 150px;
  }
}