
body {
  background: map-get($colors, darkblue);
  font-family: $font-family;
  color: map-get($colors, white);
  overflow-x: hidden;

  a {
    color: map-get($colors, white);
  }

  &.docs {
    background: white;
    color: map-get($colors, darkblue);

    a {
      color: map-get($colors, darkblue);
    }
  }
}

p {
  font-size: 14px;
  line-height: 150%;
  opacity: 0.85;
  margin: 0 0 10px;

  &.intend-left {
    margin-left: 30px;
  }

  &.small {
    font-size: 13px;
  }
}

p.alert-text {
  opacity: 1;
  border-radius: 10px;
  background: map-get($colors, purple);
  padding: 3px 10px 2px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  margin: 15px 0;
}

.feather.color-icon {
  padding: 4px;
  box-sizing: border-box;
  border-radius: 100%;

  &.red { background: map-get($colors, red); }
  &.purple { background: map-get($colors, purple); }
  &.green { background: map-get($colors, green); }
  &.yellow { background: map-get($colors, yellow); color: map-get($colors, darkblue); }
}

h1, .h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 40px;
}

h2, .h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 40px;
}

h3, .h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 40px;
}

h4, .h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 40px;
}

h5, .h5 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 40px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5 .h5 {
  &:first-child {
    margin-top: 0;
  }

  svg.feather {
    vertical-align: middle;
    display: inline-block;
    margin-top: -4px;
  }
}

@media (min-width: 375px) {

  p {
    font-size: 16px;
  }

  h1, .h1 {
    font-size: 32px;
    margin-bottom: 30px;
  }

  h2, .h2 {
    font-size: 24px;
  }

  h3, .h3 {
    font-size: 20px;
  }

  h4, .h4 {
    font-size: 18px;
  }
}
@media (min-width: $width-small) {

  p {
    margin-bottom: 20px;
  }

  h1, .h1 {
    font-size: 50px;
    margin-bottom: 40px;
  }

  h2, .h2 {
    font-size: 32px;
  }

  h3, .h3 {
    font-size: 24px;
  }

  h4, .h4 {
    font-size: 20px;
  }

  h5, .h5 {
    font-size: 16px;
  }
}

pre {
  font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
  display: block;
  background: rgba(0,0,0,0.025);
  color: map-get($colors, darkblue);
  border: 1px solid rgba(0,0,0,0.1);
  font-size: 14px;
  line-height: 150%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  border-radius: 5px;
  margin: 20px 0;
  background: white;
  position: relative;

  code {
    display: block;
    overflow-x: auto;
    padding: 10px;
  }

  &:before, &:after {
    display: block;
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: map-get($colors, red);
    top: 10px;
    left: 10px;
    border-radius: 100%;
  }
  &:after {
    background: map-get($colors, green);
    left: 30px;
  }
}

@media (min-width: $width-medium) {
  pre {
    margin: 40px 0;

    code {
      padding: 20px;
    }
  }
}