
.hljs-comment,
.hljs-quote,
.hljs-variable {
  color: #aaa;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
  color: map-get($colors, purple);
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition,
.hljs-attr {
  color: map-get($colors, red);
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta,
.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: map-get($colors, green);
}

.hljs-doctag {
  color: #808080;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
