{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <h1>Hello</h1>
    <div style="background: yellow; width: 50vw; height: 5000px;"></div>

{% endblock %}
