{% extends 'base.html.twig' %}
{% block title %}unite cms - open source decoupled content management system{% endblock %}

{% block body %}
    <section class="front-intro">

        <article class="main">
            <h1><strong>unite</strong> your content</h1>
            <p class="content">unite cms is an Open Source, decoupled content management system that is designed to manage content of any application and not only websites.</p>
            <p class="actions">
                <a href="#" class="button green"><i data-feather="command"></i> Getting started</a>
                <a href="#" class="button white"><i data-feather="arrow-down"></i> Explore features</a>
            </p>
            <ul class="devices">
                {% for d in [
                    { icon: 'monitor', text: 'Web' },
                    { icon: 'tv', text: 'TV' },
                    { icon: 'cloud', text: 'Cloud' },
                    { icon: 'watch', text: 'Wearable' },
                    { icon: 'smartphone', text: 'App' },
                    { icon: 'cpu', text: 'IoT' },
                    { icon: 'zap', text: 'Anything' }
                ] %}
                    <li>
                        <i data-feather="{{ d.icon }}"></i>
                        {{ d.text }}
                    </li>
                {% endfor %}
            </ul>
        </article>

    </section>

    <section class="section-with-frame right group-units-scene">

        <article class="main">
            <h2 class="h1">rethink content management</h2>
            <p>unite cms lets you manage all of your content in a single application, no matter if it belongs to your website, an app or some smart home device. When using unite cms, you stop thinking in projects and start grouping your content together in a natural way. This way, your content becomes robust and long-living.</p>

            <h3><i data-feather="chevron-right"></i> infinit connectivity</h3>
            <p class="intend-left">Connect your content without limitation. Find new solutions by combining existing data in a new way. Get insights from existing data and create new products.</p>

            <h3><i data-feather="chevron-right"></i> just a cms — nothing more</h3>
            <p class="intend-left">Most CMS out there have tones of functions. unite cms does only one thing: let you manage content.</p>
        </article>

        <div class="computer-frame"></div>

    </section>
    <section class="section-with-frame left circle-units-scene">

        <article class="main">
            <h2 class="h1">A single platform for all your content</h2>
            <p>unite cms lets you manage all of your content in a single application, no matter if it belongs to your website, an app or some smart home device. When using unite cms, you stop thinking in projects and start grouping your content together in a natural way. This way, your content becomes robust and long-living.</p>

            <h3><i data-feather="chevron-right"></i> infinit connectivity</h3>
            <p class="intend-left">Connect your content without limitation. Find new solutions by combining existing data in a new way. Get insights from existing data and create new products.</p>

            <h3><i data-feather="chevron-right"></i> just content management — nothing more</h3>
            <p class="intend-left">Most CMS out there have tones of functions. unite cms does only one thing: let you manage content.</p>
        </article>

        <div class="computer-frame"></div>

    </section>
    <section class="section-with-frame right">

        <article class="main">
            <h2 class="h1">Designed for content editors and developers</h2>
            <p class="intend-left">unite cms lets you manage all of your content in a single application, no matter if it belongs to your website, an app or some smart home device. When using unite cms, you stop thinking in projects and start grouping your content together in a natural way. This way, your content becomes robust and long-living.</p>

            <h3><i data-feather="chevron-right"></i> infinit connectivity</h3>
            <p class="intend-left">Connect your content without limitation. Find new solutions by combining existing data in a new way. Get insights from existing data and create new products.</p>

            <h3><i data-feather="chevron-right"></i> just content management — nothing more</h3>
            <p class="intend-left">Most CMS out there have tones of functions. unite cms does only one thing: let you manage content.</p>
        </article>

        <div class="computer-frame"></div>

    </section>

    {% for k, j in 1..4 %}
        {% for i, color in ['red', 'green', 'purple', 'yellow'] %}
            <div draggable="true" class="floating-unit {{ color }} u{{ (k|number_format * 4) + (i|number_format + 1) }}"></div>
        {% endfor %}
    {% endfor %}
{% endblock %}
