{% extends 'base.html.twig' %}
{% block title %}unite{% endblock %}

{% block body %}
    <section class="front-intro">

        <article class="main">
            <h1><strong>unite</strong> your content</h1>
            <p class="content">unite cms is a radical flexible content management system that allows you to manage and connect data for any project together in one single application.</p>
            <p class="actions">
                <a href="#" class="button green"><i data-feather="command"></i> Getting started</a>
                <a href="#" class="button white"><i data-feather="arrow-down"></i> Explore</a>
            </p>
            <ul class="devices">
                {% for d in [
                    { icon: 'monitor', text: 'Web' },
                    { icon: 'tv', text: 'TV' },
                    { icon: 'cloud', text: 'Cloud' },
                    { icon: 'watch', text: 'Wearable' },
                    { icon: 'smartphone', text: 'App' },
                    { icon: 'cpu', text: 'IoT' },
                    { icon: 'zap', text: 'Anything' }
                ] %}
                    <li>
                        <i data-feather="{{ d.icon }}"></i>
                        {{ d.text }}
                    </li>
                {% endfor %}
            </ul>
            <p class="alert-text">🎉 Stay tuned! We are going to publish a public beta of unite in summer 2018</p>
        </article>

    </section>

    <section class="section-with-frame right group-units-scene">

        <article class="main">
            <h2 class="h1">rethink content management</h2>
            <p>Don't think in separate projects, think in content categories. unite cms allows you to manage all data from your CRM, CMS, asset, employees or door access controll system together in one single application.</p>

            <h3><i data-feather="chevron-right"></i> infinite connectivity</h3>
            <p class="intend-left">Connect all your content across projects without any limits. Find new solutions by combining existing data in a new way. Get insights and create new products based on your data base.</p>

            <h3><i data-feather="chevron-right"></i> just a cms — nothing more</h3>
            <p class="intend-left">Most CMS out there have tones of functions. unite cms focuses only on one thing: let you manage content.</p>
        </article>

        <div class="computer-frame"></div>

    </section>
    <section class="section-with-frame left circle-units-scene">

        <article class="main">
            <h2 class="h1">A new approach to web development</h2>
            <p>Instead of building your next project based on a heavy CMS, that provides thousands of functions, modules
                and themes, you just create a new application using your favourite technology stack and just consume the unite cms GraphQL API.</p>

            <h3><i data-feather="chevron-right"></i> 100% decoupled - 100% flexible</h3>
            <p class="intend-left">The heart of unite cms is a GraphQL API, that allows developers to access all content
                in an easy and fast way</p>

            <h3><i data-feather="chevron-right"></i> Separation of concerns</h3>
            <p class="intend-left">Use a single installation of unite cms for managing content and create an infinity
                number of applications to display or work with it.</p>
        </article>

        <div class="computer-frame"></div>

    </section>
    <section class="section-with-frame right group2-units-scene">

        <article class="main">
            <h2 class="h1">Designed for content editors</h2>
            <p class="intend-left">For most content editors, dealing with a CMS is a lot of pain. Many CMS are based
                on different plugins, that not always play nicely together. Also, in many projects technical features
                are the main focus, the look and feel of the administration area has no high priority.</p>

            <h3><i data-feather="chevron-right"></i> unified and carefully crafted UI</h3>
            <p class="intend-left">unite cms administration interface provides an clean and unified user experience,
                that was specifically build for content editors.</p>

            <h3><i data-feather="chevron-right"></i> A tool for creative professionals</h3>
            <p class="intend-left">unite cms is not a website builder, where you can customize your website design,
                because this is the designer's job. You will also be not able to just download a plugin to extend the
                functionality of your website, because this is the developer's job.</p>
        </article>

        <div class="computer-frame"></div>

    </section>

    {% for k, j in 1..4 %}
        {% for i, color in ['red', 'green', 'purple', 'yellow'] %}
            <div draggable="true" class="floating-unit {{ color }} u{{ (k|number_format * 4) + (i|number_format + 1) }}"></div>
        {% endfor %}
    {% endfor %}
{% endblock %}
