{% extends 'base-light-with-sidebar.html.twig' %}
{% block title %}Docs{% endblock %}
{% block sitename %} | docs{% endblock %}
{% block sidebar %}
    <h5>unite cms v.0.4</h5>
    <ul>

    </ul>
{% endblock %}
{% block content %}
    <section class="text-intro" style="min-height: 100vh;">
        <article class="main">
            <h1>Documentation</h1>
            <p>⚠️ unite is not fully production ready yet. At the moment there is no upgrade path between versions, so be
                very carefully if you are using unite cms for a real project right now. As soon as we launch our public
                beta, there will be an upgrade path for each new version.</p>
        </article>
    </section>
{% endblock %}
