{% extends 'base.html.twig' %}
{% block title %}unite cms | Imprint{% endblock %}

{% block body %}
    <section class="text-intro" style="min-height: 100vh;">
        <article class="main">
            <h1>Imprint</h1>
            <p>unite - Software Development GmbH<br />
                Hütteldorferstraße 253a<br />
                A-1140 Wien
            </p>

            <p>Contact: office@unite.co.at</p>
            <br />

            <p>Firmenbuchnummer: 486860x<br />
                Firmenbuchgericht: Handelsgericht Wien<br />
                Firmensitz: Wien<br />
                Rechtsform: "Gesellschaft mit beschränkter Haftung"<br />
                Geschäftszweig: Erbringung von IT-Leistungen, Entwicklung von IT-Produkten, Entwicklung von Software<br />
                UID-Nr.: ATU73146348<br />
            </p>
        </article>
    </section>
{% endblock %}
